.dropdown-container {
    color: #cfcfcf;
    margin: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 30%;
    padding: 5px;
    background-color: #4e023e;
    border-radius: 7px;
    margin-bottom: 0;
    z-index: 1;
}
.dropdown-container:hover {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #5f004a;
}
.dropdown-content {
    padding-top: 5px;
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #4e023e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
    animation: slideDown 0.5s ease-out;
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

  .items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.items a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #cfcfcf;
    transition: background-color 0.3s;
}

.items a:hover {
    background-color: #5f004a;
}

.arrow-down {
    float: right;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #cfcfcf;
    transition: transform 0.3s ease-out;
}

.dropdown-container:hover .arrow-down {
    transform: rotate(180deg);
}

@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-13px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.dropdown-langue{
    width: auto;
    position: fixed;
    right: 0;
    top: 0;
    gap: 15px;
}
